<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lista de Produtos</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto[0] }}</td>
                <td>{{ produto[1] }}</td>
                <td>{{ produto[2] }}</td>
                <td>{{ produto[3] }}</td>
                <td>{{ produto[4] }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('index') }}">Voltar</a>
    </div>
</body>
</html>
